<?xml version="1.0" ?><!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "<http://www.puppycrawl.com/dtds/configuration_1_2.dtd>">
<module name="Checker">
    <!--module name="LineLength">
        <property name="max" value="25"/>
    </module-->
</module>
<build>
    <plugins>
      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-checkstyle-plugin</artifactId>
        <dependencies>
            <dependency>
                <groupId>com.puppycrawl.tools</groupId>
                <artifactId>checkstyle</artifactId>
                <version>8.31</version>
            </dependency>
              <dependency>
                <groupId>com.company.projectname</groupId>
                <artifactId>checkstyle-config</artifactId>
                <version>1</version>
            </dependency>
        </dependencies>
        <configuration>
            <configLocation>checkstyle.xml</configLocation>
        </configuration>
      </plugin>
    </plugins>
</build>