<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>











   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated atomicModelChange -->
      <package
            uri="http://vitruv.tools/metamodels/change/atomic/1.0"
            class="tools.vitruv.change.atomic.AtomicPackage"
            genModel="metamodel/atomicModelChange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated atomicModelChange -->
      <package
            uri="http://vitruv.tools/metamodels/change/atomic/eobject/1.0"
            class="tools.vitruv.change.atomic.eobject.EobjectPackage"
            genModel="metamodel/atomicModelChange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated atomicModelChange -->
      <package
            uri="http://vitruv.tools/metamodels/change/atomic/root/1.0"
            class="tools.vitruv.change.atomic.root.RootPackage"
            genModel="metamodel/atomicModelChange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated atomicModelChange -->
      <package
            uri="http://vitruv.tools/metamodels/change/atomic//feature/1.0"
            class="tools.vitruv.change.atomic.feature.FeaturePackage"
            genModel="metamodel/atomicModelChange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated atomicModelChange -->
      <package
            uri="http://vitruv.tools/metamodels/change/atomic/feature/single/1.0"
            class="tools.vitruv.change.atomic.feature.single.SinglePackage"
            genModel="metamodel/atomicModelChange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated atomicModelChange -->
      <package
            uri="http://vitruv.tools/metamodels/change/atomic/feature/list/1.0"
            class="tools.vitruv.change.atomic.feature.list.ListPackage"
            genModel="metamodel/atomicModelChange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated atomicModelChange -->
      <package
            uri="http://vitruv.tools/metamodels/change/atomic/feature/attribute/1.0"
            class="tools.vitruv.change.atomic.feature.attribute.AttributePackage"
            genModel="metamodel/atomicModelChange.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated atomicModelChange -->
      <package
            uri="http://vitruv.tools/metamodels/change/atomic/feature/reference/1.0"
            class="tools.vitruv.change.atomic.feature.reference.ReferencePackage"
            genModel="metamodel/atomicModelChange.genmodel"/>
   </extension>
</plugin>
